.banner {
  background-image: url('../image/bit.jpg');
  background-size: cover; /* Ensures the image covers the entire area */
  width: 100%;
  margin-top: -100px;
  height: 80vh;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;  
  color: white;
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.banner_title {
  max-width: 1140px;
  width: 100%;
}

.banner_title h1 {
  color: #AB2820;
  font-size: 48px;
  margin-bottom: 20px;
}

.banner_title h2 {
  color: #AB2820;
  font-size: 24px;
  margin-bottom: 20px;
}

.banner_title button {
  font-size: 14px;
  border-radius: 50px;
  padding: 12px 35px;
  background-color: #AB2820;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .banner {
    height: 60vh;
    margin-top: -50px;
  }

  .banner_title h1 {
    font-size: 36px;
  }

  .banner_title h2 {
    font-size: 20px;
  }

  .banner_title button {
    width: auto;
    padding: 10px 20px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .banner {
    height: 50vh;
    margin-top: -30px;
  }

  .banner_title h1 {
    font-size: 28px;
  }

  .banner_title h2 {
    font-size: 18px;
  }

  .banner_title button {
    width: auto;
    padding: 8px 15px;
    font-size: 12px;
  }
}
