.all {
    padding: 20px;
    margin-top: -150px;
}

#contains {
    background: #AB2820;
    width: 100%;
    max-width: 416px;
    height: 379px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

#contains h3 {
    color: #FFFFFFFF;
    font-size: 35px;
    text-align: left;
    margin-left: 25px;
}

.fleux {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    justify-content: space-around;
}

.contains {
    display: flex;
    justify-content: center;
}

.contain {
    width: 100%;
    max-width: 294px;
    height: 379px;
    background: #FFF;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.contain .i {
    margin-top: 40px;
    color: #AB2820;
    width: 40px;
    height: 41px;
}

.contain h4 {
    font-size: 20px;
    color: #8892B0;
}

.contain p {
    margin: 10px;
    font-size: 15px;
    color: #848484;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .fleux {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .contain {
        height: auto;
    }

    .contain p {
        font-size: 14px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .fleux {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
