.yonalishlar {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.title_item {
  color: #ab2820;
  text-align: center;
  margin-top: 80px;
}

.avetsiy {
  color: #ab2820;
  text-align: center;
  margin-top: 15px;
}

.content-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap; /* Allows the items to wrap on smaller screens */
}

.navbarss {
  flex: 1;
  max-width: 200px;
  margin-right: 20px;
  margin-left: 120px;
  margin-top: 10px;
}

.navbarss li {
  list-style: none;
  margin-bottom: 10px;
}

.navbarss li a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

.navbarss li a.active {
  color: #ab2820;
  font-weight: bold;
}

.content {
  flex: 3;
  justify-content: space-around;
  border-left: 1px solid #ab2820;
  padding-left: 20px;
  max-width: 600px;
}

.tab-content {
  max-width: 100%; /* Full width on smaller screens */
}

.h2 {
  color: #ab2820;
}

.p, .f {
  color: #9d322c;
}

.f {
  line-height: 30px;
}

/* Media queries for responsive design */

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
  }

  .navbarss {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    text-align: center;
  }

  .content {
    border-left: none;
    padding-left: 0;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .navbarss li a {
    font-size: 14px;
  }

  .title_item {
    font-size: 24px;
  }

  .avetsiy {
    font-size: 16px;
  }
}
